<header id="main-header">
    <div class="container">
    <h1 id="titulo">GOODS.</h1>
    <p>Nuestra mision es promover un estilo de vida saludable ofreciendo productos de alta calidad que son tanto nutritivos como deliciosos. La tienda ofrece una amplia gama de productos, incluyendo frutas y verduras frescas, granos enteros, proteínas magras, y snacks saludables. Además, HealthyEats se compromete a la sostenibilidad, asegurándose de que todos sus productos sean ecológicos y obtenidos de manera ética.</p>
    
  </div>
  </header>