<section id="noticias" class="padded">
    <div class="container">
    <h1>Ideas de platos</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="assets/tarjeta1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sushie</h5>
            <p class="card-text">Plato asiatico que sirve como acompañante para todo tipos de temporadas.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/tarjeta2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Arroz con Pollo</h5>
            <p class="card-text">Es un plato criollo que es rico en proteinas y carbohidratos nedidos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/tarjeta3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tallarines rojos</h5>
            <p class="card-text">Son los fideos rojos que todo peruano esta acostumbrado en un buen domingo de calor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>