<footer id="main-footer">
  <section>
    <h1>Politica y privacidad</h1>
    <p>TIENDA ONLINE
      POLITICAS DE DATOS PERSONALES
      
      En cumplimiento de lo dispuesto por la Ley N° 29733, Ley de Protección de Datos Personales y su reglamento aprobado por Decreto Supremo N° 003-2013-JUS, Compañía Food Retail S.A.C. desea poner en conocimiento de sus usuarios, los siguientes aspectos relacionados con sus datos personales:
      
      1. IDENTIDAD Y DOMICILIO DEL TITULAR DEL BANCO DE DATOS PERSONALES
      El titular del presente banco de datos en el que se almacenarán los datos personales facilitados en la presente solicitud es Compañía Food Retail S.A.C., con RUC N° 20608300393, con domicilio en Calle Morelli 181, San Borja, Lima, Perú.
      La existencia de este banco de datos personales ha sido declarada a la Autoridad Nacional de Protección de Datos Personales, mediante su inscripción en el Registro Nacional de Protección de Datos Personales con la denominación “Clientes” y el código: RNPDP N° 1669.
      Se informa al usuario que, cualquier tratamiento de datos personales, se ajusta a lo establecido por la legislación en Perú en la materia (Ley N° 29733 y su reglamento).
      
      
      2. FINALIDAD
      Los datos personales que nuestros clientes/usuario introducen en los diferentes formularios del sitio web serán tratados por Compañía Food Retail S.A.C. para las siguientes finalidades, en función al formulario que se trate:
      Libro de Reclamaciones: gestionar sus reclamos y poder contactarlo a fin de resolver los mismos.
      
      Inicio de sesión: gestionar su solicitud de inicio de sesión para las compras en la tienda online, así como el seguimiento al proceso de compra iniciado y guardado de historial para futuras compras.
      
      Datos de compra: gestionar, procesar, atender y hacer seguimiento de satisfacción a su solicitud de compra/contrato de comercio electrónico.
      
      Para dichas finalidades, Compañía Food Retail S.A.C. podrá valerse de encargados de tratamiento que se identifican en el enlace, algunos de los cuales se encuentran situados fuera del Perú, por lo que se producirá una transferencia internacional (flujo transfronterizo) de datos personales.
      
      Sus datos personales sólo serán utilizados con propósitos limitados, según lo expuesto precedentemente. No serán compartidos con terceros, salvo medie su consentimiento expreso y/o obligación legal.
      
      Según corresponda, el formulario de recopilación de datos contiene algunos campos de carácter obligatorio. En caso decida no proporcionarlos, no será posible gestionar la solicitud y/o contrato antes referidos. Si decides ingresar los datos, declaras y certificas que ellos corresponden a ti y que son verdaderos, exactos, auténticos, completos, y correctos; y que eres mayor de edad.
      
      
      3. PLAZO DE CONSERVACIÓN DE LOS DATOS Y MEDIDAS DE SEGURIDAD
      Los datos personales proporcionados se conservarán mientras no solicite su cancelación. Compañía Food Retail S.A.C. tiene implementadas las medidas técnicas, organizativas y legales que garantizan la seguridad y confidencialidad de los datos personales.
      
      
      4. EJERCICIO DE LOS DERECHOS DE INFORMACION, ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN DE LOS DATOS
      Como titular de sus datos personales, el usuario tiene el derecho de acceder a sus datos en posesión de Compañía Food Retail S.A.C.; conocer las características de su tratamiento, rectificarlos en caso de ser inexactos o incompletos; solicitar sean suprimidos o cancelados al considerarlos innecesarios para las finalidades previamente expuestos o bien oponerse a su tratamiento para fines específicos. El usuario podrá en todo momento revocar el consentimiento otorgado expresamente, tanto como limitar el uso o divulgación de sus datos personales.
      El usuario podrá dirigir su solicitud de ejercicio de los derechos en los términos que establece el Reglamento de la Ley N°29733 a http://www.veaclub.com.pe/arco o en nuestra sede administrativa con Dirección en Calle Morelli 181, San Borja, Lima, Perú, o en cualquiera de nuestros locales de Plaza Vea a nivel nacional.</p>
  </section>
  </footer>