<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quiénes Somos?</title>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        .text-container {
            max-width: 50%;
            padding-left: 20px;
        }
        .image-container img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <header id="">
    </header>
    <section class="padded">
        <div class="container">
            <h1 style="text-align: center;">¿Quiénes Somos?</h1>
        </div>
        <div class="container">
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan tortor. Proin efficitur, justo at vestibulum posuere, augue dolor facilisis nulla, et ultrices orci mauris non dolor. Maecenas nec nisi id lorem tincidunt dignissim. Suspendisse potenti. Nulla facilisi. Donec euismod, nisl at accumsan fermentum, magna dui dapibus lorem, sit amet facilisis mi ex ac arcu. Phasellus non felis felis. Phasellus bibendum enim sit amet mauris gravida, at auctor risus fermentum. Mauris vehicula libero nec ligula fringilla, nec commodo arcu dapibus. Integer feugiat, odio id vestibulum convallis, ligula felis feugiat nunc, nec tincidunt eros velit a nulla. Curabitur ut metus ut nisl tincidunt sollicitudin. Cras vel erat non ante bibendum interdum sit amet et lorem. Suspendisse potenti. Duis imperdiet ligula ac mi varius, sed dapibus libero auctor. Vestibulum eget fermentum ligula.</p>
                <p>Aliquam erat volutpat. Proin ullamcorper, risus at ultricies bibendum, urna urna congue nunc, vel fringilla lectus sapien sit amet neque. Nulla facilisi. Cras nec tortor non lacus facilisis efficitur. Etiam vel arcu a turpis placerat eleifend. Donec vulputate, mauris at gravida consequat, est dui vehicula lorem, non pharetra nisl justo et eros. Suspendisse potenti. Praesent eget turpis scelerisque, venenatis lectus ac, feugiat metus. Integer at justo ut ligula lacinia suscipit. In non odio non turpis malesuada posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer interdum velit vitae sapien dignissim, vel dignissim mauris dictum.</p>
            </div>
            <div class="image-container">
                <img src="./assets/tarjeta3.jpg" >
            </div>
        </div>
    </section>
</body>
</html>
